$color1: Snow;
$color2: White;
$color3: AliceBlue;

body {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: $color1;
}

ul {
    background-color: $color1;
    padding: 0px;
    border: {
        style: solid;
        width: 1px;
        color: black;
    }
    box-shadow: 10px 10px lightblue;
}

li {
    display: flex;
    list-style: none;
    padding: 5px;
    margin: none;
    background-color: $color2;
}

li:nth-child(2n) {
	background-color: $color3;
}

span {
    float: right; 
    border: none;
    margin-right: 5px;
}

h1 {
    text-align: center;
}

.input {
    border: none;
    width: 100%;
}

.checkbox {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

label {
    margin-left: 5px;
}

.hide {
    display: none;
}

li:hover .hide {
    display: block;
}

